<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
   
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\style.css">
</head>

<body>
  <div class="header-container">
    <h1 class="HEADER">Biblioteca</h1>
  </div>
  <div class="main-background">

    <div class="table_frame" >

      <div class="table_border">

        <div class="h1_repbtn_container" style="display: flex;">     
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li><a>Livros</a></li>
              <li><a>Empréstimos</a></li>
            </ul>
          </details>
          <button class="btn btn-ghost" onclick = "gerar_relatorio();" style="margin-bottom: 25px;"><svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="#2B3440" d="m20 8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9 19H7v-9h2zm4 0h-2v-6h2zm4 0h-2v-3h2zM14 9h-1V4l5 5z"/></svg>
          </button>
          <button type="button" class="btn btn-ghost" style="display: flex;float: right; gap: 30rem;" data-target="addLivroModal" data-open="addLivroModal" id="btnAbrirModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="#2B3440" d="M13 19c0 1.1.3 2.12.81 3H6c-1.11 0-2-.89-2-2V4a2 2 0 0 1 2-2h1v7l2.5-1.5L12 9V2h6a2 2 0 0 1 2 2v9.09c-.33-.05-.66-.09-1-.09c-3.31 0-6 2.69-6 6m7-1v-3h-2v3h-3v2h3v3h2v-3h3v-2z"/></svg></button> 
        </div>        
        <div class="search_bar">
          <label class="input input-bordered flex items-center gap-2" style="width: 100%;" >
            <input type="text" class="grow" placeholder="nome do livro" id="searchInput" name="nome_livro"/>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
          </label>
          <button class="btn btn-neutral" onclick="search();" class="search_btn" id="searchButton" style="margin-bottom: 25px;">Search</button>
        </div>


        {% if data %}

        <div class="table_container">

         <table class="table" id="change" border="1">
          <thead>
              
            <tr>
              <th scope="col/" style="color: #2B3440;">id_livro</th>
              <th scope="col" style="color: #2B3440;">Autor</th>
              <th scope="col"style="color: #2B3440;">Título</th>
              <th scope="col"style="color: #2B3440;">Gênero</th>
              <th scope="col"style="color: #2B3440;">Tools</th>

            </tr>
          </thead>
          <tbody id="search">
            {% for rows in data %}
            <tr>
              <form id="updateForm">
                <td name="id_deletado">{{rows.id_livro}}</td>
                
                <td>{{rows.autor}}</td>
                <td>{{rows.titulo}}</td>
                <td>{{rows.genero}}</td>
                <td>
                  <button type="button" class="btn btn-square btn-ghost" onclick="openModal({{ rows.id_livro }}, '{{ rows.autor | replace("'", "&#39;") | safe }}', '{{ rows.titulo | replace("'", "&#39;") | safe }}', '{{ rows.genero | replace("'", "&#39;") | safe }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="#2B3440" d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z"/></svg>                </button>
                <button type="submit" class="btn btn-square btn-ghost remove_btn" onclick="delete_livro('{{ rows.id_livro }}');">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 1024 1024"><path fill="#2B3440" d="M864 256H736v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32m-200 0H360v-72h304z"/></svg>                </button>
              </td>

            </tr>
            <!-- Modal de Atualização -->
            <div class="modal" id="updateModal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Atualizar Livro</h3>
                <form id="updateForm">
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">Autor</span>
                    </label>
                    <input type="text" id="autorInput" name="autor" class="input input-bordered">
                  </div>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">Título</span>
                    </label>
                    <input type="text" id="tituloInput" name="titulo" class="input input-bordered">
                  </div>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">Gênero</span>
                    </label>
                    <input type="text" id="generoInput" name="genero" class="input input-bordered">
                  </div>
                  <input type="hidden" id="idLivroInput" name="id_livro">
                  <div class="modal-action">
                    <button type="button" onclick="updateLivro()" class="btn">Salvar</button>
                    <button type="button" onclick="closeModal()" class="btn">Fechar</button>
                  </div>
                </form>
              </div>
            </div>

            {% endfor %}
          </tbody>
        </table>
        <!-- Modal DaisyUI para adicionar livro -->
                    <div class="modal" id="addLivroModal">
                      <div class="modal-box">
                        <h3 class="font-bold text-lg">Adicionar Livro</h3>
                        <form id="addLivroForm">
                          <div class="form-control">
                            <label class="label">
                              <span class="label-text">Autor</span>
                            </label>
                            <input type="text" id="autorInput" name="autor" class="input input-bordered">
                          </div>
                          <div class="form-control">
                            <label class="label">
                              <span class="label-text">Título</span>
                            </label>
                            <input type="text" id="tituloInput" name="titulo" class="input input-bordered">
                          </div>
                          <div class="form-control">
                            <label class="label">
                              <span class="label-text">Gênero</span>
                            </label>
                            <input type="text" id="generoInput" name="genero" class="input input-bordered">
                          </div>
                          <div class="modal-action">
                            <button type="button" id="btnSalvarLivro" onclick="enviarFormulario()" class="btn">Salvar</button>
                            <button type="button" onclick="closeModal()" class="btn">Fechar</button>
                          </div>
                        </form>
                      </div>
                    </div>

  {% else %}
  <p>No results found.</p>
  {% endif %}

  <script src="static\js\search_livro.js"></script>
  <script src="static\js\delete_livro.js"></script>
  <script src="static\js\update_livro.js"></script>
  <script src="static\js\adicionar_livro.js"></script>
  <script src="static\js\relatorio_livro.js"></script>

</body>
</html>