<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\style.css">
</head>

<body>    
  <div class="header-container" style="padding: 2%;">
      <button class="btn btn-neutral" style="float: right;">Log out</button>
      <h1 class="HEADER">Biblioteca</h1>
    </div>
  <div class="main-background">


    <div class="table_frame" >

      <div class="table_border">

        
        <div class="h1_repbtn_container" style="display: flex;">
              
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li>
                <form action="http://127.0.0.1:5000/exibir_tela_aluno" method="post">
                    <button type="submit">Dados</button>
                </form>
            </li>
            <li>
                <form action="http://127.0.0.1:5000/exibir_tela_emprest_aluno" method="post">
                    <button type="submit">Empréstimos</button>
                </form>
            </li>
            </ul>
          </details>

          <button class="btn btn-ghost" onclick = "gerar_relatorio();" style="margin-bottom: 25px;"><svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="#2B3440" d="m20 8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9 19H7v-9h2zm4 0h-2v-6h2zm4 0h-2v-3h2zM14 9h-1V4l5 5z"/></svg>
          </button>
        </div>

        <div class="vert-table-container">
            <div class="vert-table-header">
              <div>id_emprestimo</div>
              <div>id_aluno</div>
              <div>id_livro</div>
              <div>data_emprestimo</div>
              <div>data_prevista_devolucao</div>
              <div>data_real_devolucao</div>
              <div>status</div>
              <div>multa</div>
            </div>
            <div class="vert-table-data">
              <div class="data-cell">id_emprestimo</div>
              <div class="data-cell">id_aluno</div>
              <div class="data-cell">id_livro</div>
              <div class="data-cell">data_emprestimo</div>
              <div class="data-cell">data_prevista_devolucao</div>
              <div class="data-cell">data_real_devolucao</div>
              <div class="data-cell">status</div>
              <div class="data-cell">multa</div>
            </div>

            <div class="vert-table-data2">
                <div class="data-cell">id_emprestimo2</div>
                <div class="data-cell">id_aluno2</div>
                <div class="data-cell">id_livro2</div>
                <div class="data-cell">data_emprestimo2</div>
                <div class="data-cell">data_prevista_devolucao2</div>
                <div class="data-cell">data_real_devolucao2</div>
                <div class="data-cell">status2</div>
                <div class="data-cell">multa2</div>
              </div>
            
              
          </div>

        </div>

      </div>

    </div>

    
  </div>

</body>
</html>