<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
   
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\style.css">
</head>

<body>
  <div class="header-container">
    <h1 class="HEADER">Biblioteca</h1>
  </div>
  <div class="main-background" >
    <div class="login_frame" >

      <div class="login_border" >
        <div class="login_header">
            <span class="toggletext">Adm</span>
            <input type="checkbox" class="toggle toggle-lg [--tglb:yellow] bg-pink-100 hover:bg-pink-100 border-pink-200" checked >
            <span class="toggletext">Aluno</span>
        </div>

        <div class="input-info">
            <div class="input-login">
                <span style="padding-left: 10%;">ID</span>
                <input type="text">
            </div>
            <div class="input-login">
                <span>senha</span>
                <input type="password">
            </div>

            <div class="btn-login">
                <input type="submit" value="Submit" class="btn btn-ghost btn-wide" />
            </div>
    </div>

    </div>
  </div>
        


        
</body>
</html>