<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src = "static\js\emprestimos\devolver_livro.js"> </script>
  <script src = "static\js\" ></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\css\style.css">
</head>

<body>    
  <div class="header-container" style="padding: 2%;">
    <form action="{{ url_for('alunos_routes.logout') }}" method="POST">
      <button class="btn btn-neutral" type="submit">Log out</button>
  </form>
      <h1 class="HEADER">Biblioteca</h1>
    </div>
  <div class="main-background">


    <div class="table_frame" >

      <div class="table_border">

        
        <div class="h1_repbtn_container" style="display: flex;">
              
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_aluno') }}" method="GET">
                    <button type="submit">Dados</button>
                </form>
            </li>
            <li>
              <form action="{{ url_for('alunos_routes.exibir_tela_livros_aluno') }}" method="GET">
                <button type="submit">Livros</button>  
            </form>
            </li>
            <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_emprest_aluno') }}" method="GET">
                    <button type="submit">Empréstimos</button>
                </form>
            </li>
            </ul>
          </details>
        </div>

       <!-- <div class="search_bar">
  <label class="input input-bordered flex items-center gap-2" style="width: 100%;" >
    <input type="text" class="grow" placeholder="nome do livro" id="searchInput" name="nome_livro"/>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
  </label>
  <button class="btn btn-neutral" onclick="search();" class="search_btn" id="searchButton" style="margin-bottom: 25px;">Search</button>
</div> -->



        {% if data %}

        <div class="table_container">

            <table class="table" id="change" border="1">
                <thead>
                    <tr>
                        <th scope="col">id_emprestimo</th>
                        <th scope="col">id_livro</th>
                        <th scope ='col'>Título</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">DataEmpre</th>
                        <th scope="col">DataPrevDev</th>
                        <th scope="col">DataRealDev</th>
                        <th scope="col">Status</th>
                        <th scope="col">Devolver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td name = 'id_emprestimo' id = 'id_emprestimo'>{{ row.id_emprestimo }}</td>
                        <td>{{ row.id_livro }}</td>
                        <td>{{ row.titulo }}</td>
                        <td>{{ row.id_aluno }}</td>
                        <td>{{ row.data_emprestimo }}</td>
                        <td>{{ row.data_prevista_devolucao }}</td>
                        <td>{{ row.data_real_devolucao }}</td>
                        <td>{{ row.status }}</td>
                        <td>
                            <!--fazer emprestimo-->
                            <button type="button" id="DevolverLivro" onclick="devolver_livro('{{ row.id_emprestimo }}','{{ row.id_livro }}');" class="btn btn-ghost" style="display: flex;float: center; gap: 30rem; margin: 0 auto;" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2rem" viewBox="0 0 24 24" ><path fill="#2B3440" d="m16.5 17.25l2.86 1.69l-.75 1.22L15 18v-5h1.5zM23 17c0 3.87-3.13 7-7 7c-1.91 0-3.63-.76-4.89-2H6c-1.11 0-2-.89-2-2V4a2 2 0 0 1 2-2h1v7l2.5-1.5L12 9V2h6a2 2 0 0 1 2 2v7.26c1.81 1.27 3 3.36 3 5.74m-2 0c0-2.76-2.24-5-5-5s-5 2.24-5 5s2.24 5 5 5s5-2.24 5-5"/></svg>
                              </svg></button> 

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    

  {% else %}
  <table class="table" id="change" border="1">
    <thead>
        <tr>
            <th scope="col">id_emprestimo</th>
            <th scope="col">id_livro</th>
            <th scope ='col'>titulo</th>
            <th scope="col">Aluno</th>
            <th scope="col">DataEmpre</th>
            <th scope="col">DataPrevDev</th>
            <th scope="col">DataRealDev</th>
            <th scope="col">Status</th>
        </tr>

    </thead>

    
  {% endif %}

  <!-- <script src="static\css\js\search.js"></script>
  <script src="static\css\js\relatorio.js"></script> -->

</body>
</html>

</body>
</html>
