<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
   
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src = 'static\js\login\login.js'></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\css\style.css">
</head>

<body class="h-screen bg-gray-100">
  <div class="header-container">
    <h1 class="HEADER">Biblioteca</h1>
  </div>
  <div class="main-background flex justify-center items-center h-full">
    <div class="login_frame rounded-lg shadow-md w-full max-w-md mx-auto" style="background-color:#F2D7D6; padding: 3rem;">
      <form id="loginForm" action = "{{ url_for('auth_routes.login') }}" method="POST">
          <div class="login_header mb-4" style="justify-content: center; display: flex;">
            <span class="toggletext" >Aluno</span>
            <input id="type_user" name = "type_user" type="checkbox" class="toggle toggle-lg [--tglb:yellow] bg-pink-100 hover:bg-pink-100 border-pink-200" checked>Adm
          </div>

          <div class="input-info w-full space-y-4">
            <div class="input-login">
              <span style="padding-left: 1rem;">Matrícula</span>
              <input id="matricula" name="matricula" type="text" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="input-login">
              <span>Senha</span>
              <input id="senha" name="senha" type="password" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>

            <div class="btn-login">
              <input type="submit" value="Submit" class="btn btn-ghost btn-wide" />
            </div>
          </div>
        </div>
      </form>
  </div>
</body>

</html>