<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>    
  <div class="header-container" style="padding: 2%;">
      <button class="btn btn-neutral" style="float: right;">Log out</button>
      <h1 class="HEADER">Biblioteca</h1>
    </div>
  <div class="main-background">


    <div class="table_frame" >

      <div class="table_border">

        
        <div class="h1_repbtn_container" style="display: flex;">
              
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_aluno') }}" method="post">
                    <button type="submit">Dados</button>
                </form>
            </li>
            <li>
            <form action="{{ url_for('alunos_routes.exibir_tela_livros_aluno') }}" method="post">
                <button type="submit">Livros</button>  
            </form>
          </li>
            <li>

            </li>
            <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_emprest_aluno') }}" method="post">
                    <button type="submit">Empréstimos</button>
                </form>
            </li>
            </ul>
          </details>


        </div>

        <div class="infos_aluno">
        <div class="bg-labels" ><h2 style="font-size: 1.5rem;">Nome</h2>
          <div class="dados_exibir" style="background-color: #F2D7D6;"><p>Maria</p></div>
        </div>
        <div class="bg-labels"><h2 style="font-size: 1.5rem;">Matrícula</h2>
          <div class="dados_exibir" style="background-color: #F2D7D6;"><p>123456</p></div>
        </div>
        <div class="bg-labels"><h2 style="font-size: 1.5rem;">Telefone</h2>
          <div class="dados_exibir" style="background-color: #F2D7D6;"><p>(83) 981056083</p></div>
        </div>
        <div class="bg-labels"><h2 style="font-size: 1.5rem;">Email</h2>
          <div class="dados_exibir" style="background-color: #F2D7D6;"><p>mariafofa123@hotmail.com</p></div>
        </div>
        <div class="bg-labels"><h2 style="font-size: 1.5rem;">Senha</h2>
          <div class="dados_exibir" style="background-color: #F2D7D6;"><p>123456</p></div>
        </div>

        </div>


      </div>

    </div>

    
  </div>

</body>
</html>