<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\css\style.css">
</head>

<body>    
  <div class="header-container" style="padding: 2%;">
    <form action="{{ url_for('admin_routes.logout') }}" method="POST">
      <button class="btn btn-neutral" type="submit">Log out</button>
  </form>
      <h1 class="HEADER">Biblioteca</h1>
    </div>
  <div class="main-background">


    <div class="table_frame" >

      <div class="table_border">

        
        <div class="h1_repbtn_container" style="display: flex;">
              
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
            <li>
            <form action="{{ url_for('admin_routes.exibir_tela_livro_adm') }}" method="GET">
                <button type="submit">Livros</button>  
            </form>
          </li>
            <li>

            </li>
            <li>
                <form action="{{ url_for('admin_routes.exibir_tela_emprest_adm') }}" method="GET">
                    <button type="submit">Empréstimos</button>
                </form>
            </li>
            </ul>
          </details>
        </div>




        {% if data %}

        <div class="table_container">

            <table class="table" id="change" border="1">
                <thead>
                    <tr>
                        <th scope="col">id_emprestimo</th>
                        <th scope="col">id_livro</th>
                        <th scope="col">Título</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">DataEmp</th>
                        <th scope="col">DataPrevDev</th>
                        <th scope="col">DataRealDev</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td name = 'id_emprestimo' id = 'id_emprestimo'>{{ row.id_emprestimo }}</td>
                        <td>{{ row.id_livro }}</td>
                        <td>{{ row.titulo }}</td>
                        <td>{{ row.id_aluno }}</td>
                        <td>{{ row.data_emprestimo }}</td>
                        <td>{{ row.data_prevista_devolucao }}</td>
                        <td>{{ row.data_real_devolucao }}</td>
                        <td>{{ row.status }}</td>
                     
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    

  {% else %}
  <p>No results found.</p>
  {% endif %}

  <!-- <script src="static\css\js\search.js"></script>
  <script src="static\css\js\relatorio.js"></script> -->

</body>
</html>

</body>
</html>
