<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="static\css\style.css">
</head>

<body>    
  <div class="header-container" style="padding: 2%;">
      <button class="btn btn-neutral" style="float: right;">Log out</button>
      <h1 class="HEADER">Biblioteca</h1>
    </div>
  <div class="main-background">


    <div class="table_frame" >

      <div class="table_border">

        
        <div class="h1_repbtn_container" style="display: flex;">
              
          <details class="dropdown">
            <summary class="m-1 btn btn-neutral">Tabelas</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_aluno') }}" method="post">
                    <button type="submit">Dados</button>
                </form>
            </li>
            <li>
              <form action="{{ url_for('alunos_routes.exibir_tela_livros_aluno') }}" method="post">
                <button type="submit">Livros</button>  
            </form>
            </li>
            <li>
                <form action="{{ url_for('alunos_routes.exibir_tela_emprest_aluno') }} method="post">
                    <button type="submit">Empréstimos</button>
                </form>
            </li>
            </ul>
          </details>

          <button class="btn btn-ghost" onclick = "gerar_relatorio();" style="margin-bottom: 25px;"><svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="#2B3440" d="m20 8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9 19H7v-9h2zm4 0h-2v-6h2zm4 0h-2v-3h2zM14 9h-1V4l5 5z"/></svg>
          </button>
          <button class="btn btn-ghost" style="margin-bottom: 25px;"><svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" viewBox="0 0 24 24"><path fill="currentColor" d="m16.5 17.25l2.86 1.69l-.75 1.22L15 18v-5h1.5zM23 17c0 3.87-3.13 7-7 7c-1.91 0-3.63-.76-4.89-2H6c-1.11 0-2-.89-2-2V4a2 2 0 0 1 2-2h1v7l2.5-1.5L12 9V2h6a2 2 0 0 1 2 2v7.26c1.81 1.27 3 3.36 3 5.74m-2 0c0-2.76-2.24-5-5-5s-5 2.24-5 5s2.24 5 5 5s5-2.24 5-5"/></svg>
          </button>
        </div>

        <div class="vert-table-container">
            <div class="vert-table-header">
              <div>id_emprestimo</div>
              <div>id_aluno</div>
              <div>id_livro</div>
              <div>data_emprestimo</div>
              <div>data_prevista_devolucao</div>
              <div>data_real_devolucao</div>
              <div>status</div>
              <div>multa</div>
            </div>
            <li>
              <form action="">
                  <button type="submit">Devolver</button>
              </form>
            </li>
            <div class="vert-table-data">
              <div class="data-cell">id_emprestimo</div>
              <div class="data-cell">id_aluno</div>
              <div class="data-cell">id_livro</div>
              <div class="data-cell">data_emprestimo</div>
              <div class="data-cell">data_prevista_devolucao</div>
              <div class="data-cell">data_real_devolucao</div>
              <div class="data-cell">status</div>
              <div class="data-cell">multa</div>
            </div>

            <div class="vert-table-data2">
                <div class="data-cell">id_emprestimo2</div>
                <div class="data-cell">id_aluno2</div>
                <div class="data-cell">id_livro2</div>
                <div class="data-cell">data_emprestimo2</div>
                <div class="data-cell">data_prevista_devolucao2</div>
                <div class="data-cell">data_real_devolucao2</div>
                <div class="data-cell">status2</div>
                <div class="data-cell">multa2</div>
              </div>
            
              
          </div>

        </div>

      </div>

    </div>

    
  </div>

</body>
</html>